extends ../_layouts/base

include ../_modules/link/link
include ../_modules/molecules/side-slider-magicscroll/side-slider-magicscroll
include ../_modules/organisms/header/header

block config
  //- Correct base url pathing for this page
  - var baseUrl = '../'

block content
  header.magic-scroll

    +header()

  #pinContainer
    #slideContainer
      section.panel
        b
        +side-slider-magicscroll({
          "image": "../../images/panel1.png",
          "elemId": "image1"
        })
      section.panel
        b
        +side-slider-magicscroll({
          "image": "../../images/panel2.png",
          "elemId": "image2"
        })
      section.panel
        b
        +side-slider-magicscroll({
          "image": "../../images/panel3.png",
          "elemId": "image3"
        })
      section.panel
        b
        +side-slider-magicscroll({
          "image": "../../images/panel4.png",
          "elemId": "image4"
        })


  .slider-scrollmagic

    .container-images

      +side-slider-magicscroll({
        "image": "../../images/explore-plan-direction.png",
        "elemId": "image1"
      })

      +side-slider-magicscroll({
        "image": "../../images/Bitmap.png",
        "elemId": "image2"
      })

