extends _layouts/base

include _modules/link/link
include _modules/molecules/side-slider/side-slider
include _modules/molecules/side-slider-magicscroll/side-slider-magicscroll
include _modules/organisms/header/header

block content
  .container

    .yeogurt-info
      +link({text: 'Sweet Scroll'})(href='/sweet-scroll')

      +link({text: 'Magic Scroll'})(href='/magic-scroll')

      +link({text: 'Scroll Trigger'})(href='/scroll-trigger')

