mixin side-slider-magicscroll(spec)
  - spec.__class = spec.__class || ''
  - spec.image = spec.image || ''
  - spec.elemId = spec.elemId || ''
  - spec.svg = spec.svg || ''


  div(class=spec.__class)&attributes(attributes)

    .container-image&attributes(attributes)

      div(id=spec.elemId, class="step " + spec.__class)

        if spec.svg

          object(type="image/svg+xml", data=spec.svg, class="background-slider") Your browser does not support SVGs

        else

          img(src=spec.image)


